.container {
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  background-color: #999999;
  border: 1px solid #ddd;
  color: #000000;
  border-radius: 8px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.stat {
  margin: 5px 0;
  font-size: 16px;
}

.good {
  color: rgb(0, 196, 0);
}

.neutral {
  color: rgb(214, 193, 1);
}

.bad {
  color: rgb(218, 17, 17);
}

.total {
  color: rgb(0, 118, 253);
}

.positive {
  color: rgb(209, 0, 209);
}
